/* 
=====================
==TABLE OF CONTENTS==
=====================
1. Global Styling
2. Typography
3. Layout
    3.1 Home page
    3.2 Projects page
    3.3 Contact page    

4. Navigation
*/

/* 
############################
1. Global Styling
############################
*/

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-bg: #0e141b;
    --clr-bg-offset: #262627;
    --clr-bg-gradient: radial-gradient(
        circle at 500px 500px,
        var(--clr-bg-offset),
        var(--clr-bg) 100%
    );
    --clr-bg-animated-gradient: radial-gradient(
        circle at 500px 500px,
        var(--clr-bg-offset),
        var(--clr-bg) 100%
    );
    --clr-text: hsl(0, 0%, 100%);
    --clr-text-offset: hsl(206, 7%, 54%);
    --clr-border: hsl(0, 0%, 18%);
    --clr-accent: hsl(4, 87%, 66%);
    --clr-accent-offset: hsl(4, 87%, 72%);

    --main-font: "Source Sans Pro", sans-serif;
    --secondary-font: "Source Serif Pro", serif;
}

html,
body {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--clr-bg-gradient);
}

main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle at var(--x-coord) var(--y-coord),
        var(--clr-bg-offset),
        var(--clr-bg) 100%
    );
    z-index: 0;
}

.main-wrapper {
    width: 70%;
    position: relative;
}

section {
    width: 100%;
}

/* 
############################
2. Typography
############################
*/
@font-face {
    font-family: "Oswald";
    src: local("Oswald"),
        url("./assets/font/Oswald/Oswald-Regular.woff2") format("woff2"),
        url("./assets/font/Oswald/Oswald-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PT Mono";
    src: local("PT Mono"),
        url("./assets/font/PT-Mono/PTMono-Regular.woff2") format("woff2"),
        url("./assets/font/PT-Mono/PTMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Coolvetica";
    src: local("Coolvetica"),
        url("./assets/font/Coolvetica/coolvetica-rg.woff2") format("woff2"),
        url("./assets/font/Coolvetica/coolvetica-rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p,
li {
    font-family: var(--main-font);
    color: var(--clr-text);
}

.heading {
    font-family: var(--secondary-font);
    font-size: clamp(4rem, 5vw, 10rem);
    font-weight: 300;
    font-style: italic;
}

.name--accent {
    color: var(--clr-accent);
}

/* 
############################
3. Grid Layout
############################
*/

.home {
    height: 100vh;
    height: 100svh;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.name {
    grid-area: 4 / 2 / span 1 / span 3;
    align-self: flex-end;
}

.heading {
    grid-area: 5 / 2 / span 1 / span 10;
    margin: 4rem 0;
}

.about {
    grid-area: 6 / 2 / span 7 / span 10;
}

/* 
############################
4. About Block 
############################
*/

.about--grid {
    --about-border: 2px solid white;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 7fr;
}

.about__nav {
    height: 100%;
    grid-area: 1 / 1 / span 1 / span 3;
    list-style-type: none;
}

.about__nav-item {
    display: inline-block;
    position: relative;
    height: 100%;
    cursor: pointer;
    text-transform: lowercase;
    text-shadow: -1px 1px var(--clr-bg);
    user-select: none;
    z-index: 1;
}

.about__nav-item + .about__nav-item::before {
    position: absolute;
    content: "/";
    left: -1.75rem;
}

.about__nav-item + .about__nav-item {
    margin-left: 3rem;
}

.about__nav-item::after {
    transition: 0.5s ease;
    transform-origin: center;
    content: "";
    position: absolute;
    background: var(--clr-accent);
    z-index: -1;
    left: -0.3em;
    top: 0.8em;
    height: 0.4em;
    width: 0%;
}

.about__nav-item:hover::after {
    width: 100%;
    transform-origin: center;
}

.about__nav-item.active::after {
    transition: 0.5s ease;
    transform-origin: center;
    content: "";
    position: absolute;
    background: var(--clr-accent);
    z-index: -1;
    left: -0.3em;
    top: 0.8em;
    height: 0.4em;
    width: 100%;
}

.about__container {
    grid-area: 2 / 1 / span 1 / span 4;
    position: relative;
    display: flex;
    height: 80%;
    width: 100%;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    z-index: 1;
}

.about__content {
    height: 100%;
    width: 100%;
    margin-right: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

/* 
############################
5. ??
############################
*/

.projects {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50vh;
    grid-template-rows: 2fr 1fr;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel {
    position: relative;
    display: flex;
    grid-row: 1;
    height: 80%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.carousel__card {
    height: 100%;
    width: 100%;
    background: red;
    margin-right: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.carousel__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.carousel__dot {
    display: inline-block;
    background: var(--clr-text-offset);
    border-radius: 100px;
    width: 20px;
    height: 8px;
    transition: 400ms;
    border: none;
    cursor: pointer;
}

.carousel__dot.active {
    width: 40px;
    height: 10px;
    background: var(--clr-text);
}

/* 
############################
6. ???
############################
*/

header {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__item {
    cursor: pointer;
    margin: 2rem 0;
    font-weight: 700;
    text-transform: lowercase;
}
