/* 
=====================
==TABLE OF CONTENTS==
=====================
1. Global Styling

2. Typography

3. Layout
    3.1 Intro page
    3.2 About page
    3.3 Projects page    
    3.4 Skills page

4. Navigation

5. Parallax Scrolling
*/

/* 
#################
1. Global Styling
#################
*/

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --fnt-clr-light: hsl(0, 0%, 100%);
    --fnt-clr-dark: hsl(0, 0%, 0%);
}

html,
body {
    height: 100%;
}

/* 
#############
2. Typography
#############
*/
@font-face {
    font-family: "Playfair Display";
    src: local("PlayfairDisplay-Regular"),
        url("./assets/fonts/static/PlayfairDisplay/woff2/PlayfairDisplay-Regular.woff2")
            format("woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
}

/* 
#########
3. Layout
#########
*/

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* 
###############
3.1 Intro Page
###############
*/

.intro {
    background: url(./assets/img/anna-hunko-gZgsYzi-Qe0-unsplash.jpg) center;
    background-size: cover;
}

.intro-wrapper {
    display: grid;
    grid-template-areas:
        "portrait fullname"
        "portrait nav";
    grid-auto-rows: 1fr;
    background: hsla(0, 0%, 100%, 0.13);
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px hsl(0, 0%, 5%), 0.6;
    gap: 1em;
    padding: 2rem;
}

.portrait-container {
    --border-width: 8px;
    --portrait-width: 20vw;
    --portrait-height: auto;
    position: relative;
    grid-area: portrait;
    place-self: center;
    width: var(--portrait-width);
    height: var(--portrait-width);
    border-radius: 50%;
    border: var(--border-width) solid var(--fnt-clr-light);
}

.portrait {
    position: absolute;
    width: calc(var(--portrait-width) - (var(--border-width) * 2));
    height: auto;
    bottom: 0;
    border-bottom-left-radius: var(--portrait-width);
    border-bottom-right-radius: var(--portrait-width);
    filter: grayscale(30%);
}

h1 {
    color: var(--fnt-clr-light);
    font-size: clamp(1px, 4vw, 5vw);
    grid-area: fullname;
    align-self: flex-end;
}

.intro-nav {
    align-items: flex-start;
    cursor: pointer;
    color: var(--fnt-clr-light);
    font-family: "Playfair Display", serif;
    font-size: 1.125rem;
}

.intro-nav span {
    margin: 0 1rem 0 0;
}
